.fallback {
  height: 15rem;
  min-width: 20rem;
  background-color: #00000091;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.report {
  font-size: 0.9em;
  position: absolute;
  bottom: 1rem;
}
