.loading {
  border: 0.4rem solid #00000091;
  border-top: 0.4rem solid red;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
