@font-face {
  font-family: Benguiat;
  font-weight: 600;
  src: url(/fonts/Benguiat-Bold.ttf);
}

:root {
  --font: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --foreground: #fff;
  --foreground-rgb: 15, 15, 15;
  --background: #0f0f0f;
  --background-rgb: 0, 0, 0;
}

*::-moz-selection {
  background-color: rgb(179 0 0);
  color: white;
}

*::selection {
  background-color: rgb(179 0 0);
  color: white;
}

/* Scroll */
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179 0 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html,
body {
  font-family: var(--font);
  font-size: 16px;
  max-width: 100vw;
  height: 100%;
  scroll-padding-top: 6rem;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
