.items {
  width: 80%;
  display: grid;
  gap: 2.5rem;
  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  margin: 2rem 0;
}

@media (max-width: 1000px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) !important;
  }
}
