.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.links {
  display: flex;
  margin: 2rem;
  gap: 1rem;
}
