.container {
  height: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00000091;
  border-radius: 20px;
  padding: 1rem;
  position: relative;
  gap: 1rem;
}

.thumbnail-container {
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}

.thumbnail-container:hover::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0000003a;
}

.thumbnail {
  height: inherit;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.image-container {
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}

.image-container:hover::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0000003a;
}

.image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
