.button {
  min-width: 8rem;
  padding: 0.7rem 1.2rem;
  border: 1px solid #dd0400;
  background-image: linear-gradient(to right, #cf0300b4, #cf0300b4);
  border-radius: 12px;
  transition: all 0.2s;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #cf0300b4;
  color: #fff;
}
