.content {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00000091;
  border-radius: 20px;
  padding: 2rem;
  position: relative;
  gap: 1rem;
}

.container {
  width: 40%;
  border-radius: inherit;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}

.genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.genre {
  border-radius: 10px;
  padding: 0.4rem 0.5rem;
  background-color: rgba(255, 0, 0, 0.596);
  transition: all 0.2s;
}

.genre:hover {
  background-color: rgba(255, 0, 0, 0.767);
  cursor: pointer;
}

.information {
  display: flex;
  gap: 0.5rem;
}

.episodes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eps {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
}

.seasons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.seas {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.sources {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 2rem;
}
